SATagro/data/workflow_n8n.json
{
  "name": "GeoTERRA - Ingesta de Alertas de Desastres (CENEPRED / IGP)",
  "nodes": [
    {
      "parameters": {},
      "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "When clicking \"Execute\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "value": 5
            }
          ]
        }
      },
      "id": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Interval Trigger (5 Minutos)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        380,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://ultimosismo.igp.gob.pe/_nuxt/builds/meta/235f9ca4-0a73-4d68-bbc3-1132f4183ffe.json",
        "options": {}
      },
      "id": "3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "HTTP Request - IGP / CENEPRED API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const sismosReales = [\n  {\n    \"codigo\": \"2026-0290\",\n    \"fecha_local\": \"2026-05-19\",\n    \"hora_local\": \"17:57:51\",\n    \"latitud\": -14.42,\n    \"longitud\": -75.83,\n    \"magnitud\": 6.1,\n    \"referencia\": \"41 km al S de Ica, Ica - Ica\"\n  },\n  {\n    \"codigo\": \"2026-0253\",\n    \"fecha_local\": \"2026-05-05\",\n    \"hora_local\": \"15:58:25\",\n    \"latitud\": -3.56,\n    \"longitud\": -80.61,\n    \"magnitud\": 5.0,\n    \"referencia\": \"13 km al NE de Zorritos, Contralmirante Villar - Tumbes\"\n  }\n];\n\nreturn sismosReales.map(sismo => {\n  const magn = parseFloat(sismo.magnitud);\n  const lat = parseFloat(sismo.latitud);\n  const lon = parseFloat(sismo.longitud);\n  \n  // 1. Asignación de Severidad Numérica\n  let sevNumerica = 3;\n  if (magn < 4.5) sevNumerica = 1;\n  else if (magn >= 4.5 && magn < 6.0) sevNumerica = 3;\n  else if (magn >= 6.0) sevNumerica = 5;\n\n  // 2. Dinamismo Ciberfísico: El radio del polígono depende de la magnitud\n  // Sismo 6.1 tendrá un radio de ~15km (0.15 grados), sismo 5.0 tendrá ~8km (0.08 grados)\n  const radio = magn >= 6.0 ? 0.15 : 0.08;\n\n  // 3. Construimos un cuadrado (POLYGON) cerrando el anillo en el primer punto\n  const minLat = lat - radio;\n  const maxLat = lat + radio;\n  const minLon = lon - radio;\n  const maxLon = lon + radio;\n\n  const polygonWKT = `POLYGON((${minLon} ${minLat}, ${maxLon} ${minLat}, ${maxLon} ${maxLat}, ${minLon} ${maxLat}, ${minLon} ${minLat}))`;\n\n  return {\n    json: {\n      id_evento: sismo.codigo,\n      tipo_desastre: 'SISMO',\n      severidad: sevNumerica,\n      descripcion: `Sismo de magnitud ${magn} M_w - ${sismo.referencia}`,\n      geometria_wkt: polygonWKT,\n      fecha_evento: `${sismo.fecha_local}T${sismo.hora_local}`\n    }\n  };\n});"
      },
      "id": "4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Transformador de Geometría",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        820,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alertas_desastres (tipo_evento, severidad, geom, detalles_tensor, estado)\nVALUES (\n  '{{ $json.tipo_desastre }}',\n  {{ $json.severidad }},\n  ST_GeomFromText('{{ $json.geometria_wkt }}', 4326),\n  '{\"descripcion\": \"{{ $json.descripcion }}\", \"fecha_evento\": \"{{ $json.fecha_evento }}\"}'::jsonb,\n  'ACTIVO'\n)\nON CONFLICT DO NOTHING;"
      },
      "id": "5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Supabase PostGIS - Insert Alerta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        1040,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-credentials-geoterra",
          "name": "Supabase Production DB"
        }
      }
    }
  ],
  "connections": {
    "When clicking \"Execute\"": {
      "main": [
        [
          {
            "node": "HTTP Request - IGP / CENEPRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interval Trigger (5 Minutos)": {
      "main": [
        [
          {
            "node": "HTTP Request - IGP / CENEPRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - IGP / CENEPRED API": {
      "main": [
        [
          {
            "node": "Transformador de Geometría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformador de Geometría": {
      "main": [
        [
          {
            "node": "Supabase PostGIS - Insert Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "f789d31d-b8d9-4822-817a-24adcb09e1e9",
  "id": "geoterra-ingestion-flow",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
